body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
}
html {
    height: 100%;
}

.showroomcontainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin-top: 200x;
    transform-style: preserve-3d;
}

.showroomcontainer .box
{
    position: relative;
    width: 600px;
    height: 400px;
    margin: 40px;
    background: black;
    transform-style: preserve-3d;
}

.showroomcontainer .box:hover::before
{
    opacity: 0.04;
}

.showroomcontainer .box .name
{
    position: absolute;
    top: 40px;
    left: 0;
    text-align: center;
    color: white;
    font-family: "Poppins Light", sans-serif;
    width: 100%;
    transform: translate3d(0,0,75px);
    transition: .5s;
    opacity: 1;
    z-index: 10;
}

.showroomcontainer .box:hover .name
{
    top: 40px;
    opacity: 1;
    font-size: 38px;
    transition: .5s;
}

.view
{
    opacity: 0;
}

.showroomcontainer .box .view 
{
    position: absolute;
    bottom: 0;
    left: 25%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: #EFD8A9;
    background: #7C6F55;
    padding: 10px 25px;
    text-decoration: none;
    transition: .5s;
    opacity: 0;
    z-index: 10;
}

.showroomcontainer .box:hover .view
{
    bottom: 30px;
    opacity: 1;
}



.showroomcontainer .box .product
{
    position: absolute;
    border-radius: 15px;
    top: 0.5%;
    left: 12%;
    max-width: 459px;
    transition: .5s;
    z-index: 11;
    transition: .5s;
    transform-style: preserve-3d;
}

@media screen and (max-width: 500px) {
    .logoNav {
        width: 180px;
    }
    .nav-link {
        color: white;
    }

    .contentHome img {
        width: 400px;
        height: 700px;
    }
    .contentHome {
        display: grid;
        height: 90vh;
        grid-template-rows: 38% 60%;
    }
    
    .text {
        color: white;
        margin: auto;
        text-align: center;
    }
    .text p {
        font-size: 24px;
        font-family: 'Poppins';
        font-weight: 100;
        font-style: italic;
    }
    .text button {
        width: 145px;
        height: 36px;
        background: linear-gradient(135deg, #827559 0%, #766951 100%);
        border: 1px solid #7C6F55;
        color: #EFD8A9;
        box-shadow: -5px 5px 10px rgb(112 100 77 / 20%), 5px -5px 10px rgb(112 100 77 / 20%), -5px -5px 10px rgb(136 122 94 / 90%), 5px 5px 13px rgb(112 100 77 / 90%), inset 1px 1px 2px rgb(136 122 94 / 30%), inset -1px -1px 2px rgb(112 100 77 / 50%);
    }

    /* INFO DIV */ 
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 78%;
        margin: auto;
    }
    .info img{
        margin-top: 100px;
       width: 350px;
       align-self: center;
    }
    .info h3 {
        color: #EFD8A9;
        font-size: 24px;
        font-weight: bold;
        text-align: start;
    }
    .info p{
        font-size: 16px;
        color: white;
        font-weight: 100;
    }
    .info button {
        width: 137px;
        height: 36px;
        background: #000000;
        border: 1.5px solid #7C6F55;
        color: #EFD8A9;
        margin: auto;
        margin-bottom: 15px;
    }
    footer {
        background-color: #7C6F55;
        color: black;
        width: 100%;
        height: 245px;
        text-align: center;
    }
    footer h3 {
        font-size: 13px;
        font-weight: bold;
    }
    .cards {
        justify-content: space-evenly;
        display: flex;
        font-size: 20px;
        margin-bottom: 13px;
    }
    .navSplit a {
        color: black !important;
    }
    .navSplit {
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 12px;
        width: 90%;
        margin: auto;
    }
    .part1 {
        text-align: start;
    }
    .part2 {
        text-align: end;
    }

    .rating {
        width: 96%;
        text-align: end;
        line-height: 0;
    }
    .rating p {
        font-size: 14px;
    }

    .credit {
        margin-top: 20px;
        font-size: 12px;
        font-weight: lighter;
    }

    .showroomcontainer .box .product
    {
        position: absolute;
        border-radius: 15px;
        top: 0.5%;
        left: 9%;
        max-width: 400px;
        width: 350px;
        transition: .5s;
        z-index: 11;
        transition: .5s;
        transform-style: preserve-3d;
        margin-left: -18%;
    }

    .showroomcontainer .box .view 
    {
        position: absolute;
        bottom: 0;
        margin-bottom: 43px;
        margin-left: 50px;
        width: 71%;
        padding-right: 30px;
        left: 100px;
        transform-style: preserve-3d;
        transform: translate3d(-50%,0,75px);
        color: #EFD8A9;
        background: #7C6F55;
        padding: 10px 15px;
        text-decoration: none;
        transition: .5s;
        opacity: 0;
        z-index: 10;
    }

    .showroomcontainer .box:hover .view
    {
        bottom: 120px;
        opacity: 1;
    }

    .showroomcontainer .box .name
    {
        position: absolute;
        top: 40px;
        left: 8px;
        text-align: center;
        color: white;
        font-family: "Poppins Light", sans-serif;
        width: 100%;
        transform: translate3d(0,0,75px);
        transition: .5s;
        opacity: 1;
        z-index: 10;
    }

    .showroomcontainer .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s;
        z-index: 11;
      }
      
      .box:hover .overlay {
          bottom: 75px;
        height: 20%;
      }
      
      .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }

    nav ul li a 
    {
        color: white;
        margin: -6px;
        font-size: 14px;
        font-weight: bold;
    }

    .city-filter
    {
        margin-top: -50px;
        margin-right: 150px;
        color: white;
        opacity: 0;
    }

    .arrow-down
    {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 4px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        opacity: 0;
    }
  }
